<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Vendor_CustomOrderProcessing::order_status_update" title="Custom Order Status Update" sortOrder="90"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>